@use 'spacings' as spacings;

$black: #000;
$blue-chalk: #ece6f2;
$east-bay: #545773;
$pattens-blue: #eaf1f8;
$science-blue: #0049d1;
$scorpion: #5f5f5f;
$valhalla: #2a2d3e;
$white: #fff;
$main: $valhalla;
$heading: $main;
$paragraph: $east-bay;
$link-text: $science-blue;
$link-text-hover: $black;
$error: #cc2e2e;
$success: #21aa14;
$problematic: #b30000;
$foreground-primary: $black; /* for main text and headings */
$foreground-secondary: #5a5c63; /* for secondary text */
$foreground-muted: #6b6f76; // for muted text
$foreground-border: #878787; // for content borders

$background-primary: white; // for content
$background-secondary: #f8f9fb; // for navigation + ToC
$background-tertiary: rgb(0 110 199); // brand sidebar header
$background-hover: #efeff4ff; // for navigation-item hover
$background-hover-transparent: #efeff400;
$background-border: #eeebee; // for UI borders
$background-item: #ccc; // for "background" items (eg: copybutton)

$announcement-background: #000d;
$announcement-text: #eeebee;

  // Brand colors
$brand-primary: #0a4bff;
$brand-content: #2757dd;
$brand-visited: #872ee0;

  // API documentation
$api-background: $background-hover-transparent;
$api-background-hover: $background-hover;
$api-overall: $foreground-secondary;
$api-name: $problematic;
$api-pre-name: $problematic;
$api-paren: $foreground-secondary;
$api-keyword: $foreground-primary;
$api-added: #21632c;
$api-added-border: #38a84d;
$api-changed: #046172;
$api-changed-border: #06a1bc;
$api-deprecated: #605706;
$api-deprecated-border: #f0d90f;
$api-removed: #b30000;
$api-removed-border: #ff5c5c;
$highlight-on-target: #ffc;

// Inline code background
$inline-code-background: $background-secondary;

// Highlighted text (search)
$highlighted-background: #def;
$highlighted-text: $foreground-primary;

// GUI Labels
$guilabel-background: #ddeeff80;
$guilabel-border: #bedaf580;
$guilabel-text: $foreground-primary;

  // Admonitions!
$admonition-background: transparent;

  // Tables
$table-header-background: $background-secondary;
$table-border: $background-border;

  // Cards
$card-border: $background-secondary;
$card-background: transparent;
$card-marginals-background: $background-secondary;

  // Header
$header-background: $background-primary;
$header-border: $background-border;
$header-text: $foreground-primary;

  // Sidebar (left)
$sidebar-background: $background-secondary;
$sidebar-background-border: $background-border;
$sidebar-brand-text: white;
$sidebar-brand-background: $background-tertiary;
$sidebar-caption-text: $foreground-muted;
$sidebar-link-text: $foreground-secondary;
$sidebar-link-text-top-level: $foreground-primary;
$sidebar-item-background: $sidebar-background;
$sidebar-item-background-current: $sidebar-item-background;
$sidebar-item-background-hover: linear-gradient(
    90deg,
    $background-hover-transparent 0%,
    $background-hover spacings.$sidebar-item-horizontal,
    $background-hover 100%
);
$sidebar-item-expander-background: transparent;
$sidebar-item-expander-background-hover: $background-hover;
$sidebar-search-text: transparent;
$sidebar-search-text-active: $foreground-muted;
$sidebar-search-background: $background-tertiary;
$sidebar-search-background-focus: $background-primary;
$sidebar-search-border: $background-border;
$sidebar-search-icon: white;
$sidebar-search-icon-active: $foreground-muted;

// Table of Contents (right)
$toc-background: $background-primary;
$toc-title-text: $foreground-muted;
$toc-item-text: $foreground-secondary;
$toc-item-text-hover: $foreground-primary;
$toc-item-text-active: $brand-primary;

// Actual page contents
$content-foreground: $foreground-primary;
$content-background: transparent;

// Links
$link: $brand-content;
$link-underline: $background-border;
$link-hover: $brand-content;
$link-underline-hover: $foreground-border;
$link-visited: $brand-visited;
$link-underline-visited: $background-border;
$link-visited-hover: $brand-visited;
$link-underline-visited-hover: $foreground-border;
