// variables/_typography.scss
$line-heading: 1.25;
$line-article: 1.5;
$line-paragraph: 1.7;
$font-primary: "Mona Sans", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
$font-secondary: "Inter", sans-serif; // Placeholder; replace with your second font
$font-icon: boxicons !important; // Placeholder; replace with your second font
$sidebar-item-line-height: 1.25;
$sidebar-caption-font-size: 1em;
$font-heading: $font-primary;
$font-monospace: $font-primary;
$font-paragraph: $font-primary;
$font-size-h1: 2.5em;
$font-size-h2: 2em;
$font-size-h3: 1.5em;
$font-size-h4: 1.25em;
$font-size-h5: 1.125em;
$font-size-h6: 1em;
$font-size-hero: 52px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-paragraph: $font-size-18;
$font-size-nav-toggle-label: 15px;
$font-size-captions: 15px;
$font-size-article: 1.1em;
$font-size-normal: 1em;
$font-size-small: 80%;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-paragraph: $font-weight-regular;
$font-weight-heading: $font-weight-bold;
$global-settings-size: $font-size-normal;
$sidebar-search-input-font-size: $font-size-normal;
$sidebar-item-font-size: $font-size-normal;
