<aside class="sidebar-drawer">
    <div class="sidebar-container">
        <div class="sidebar-sticky">
            <form class="sidebar-search-container" method="get" action="search.html" role="search">
                <!--<input class="sidebar-search" placeholder="Search" name="q" aria-label="Search">-->
                <input class="sidebar-search" name="q" aria-label="Search">
                <input type="hidden" name="check_keywords" value="yes">
                <input type="hidden" name="area" value="default">
            </form>
            <div id="searchbox"></div>
                <a class="sidebar-brand" href="index.html">
                    <span class="sidebar-brand-text">Kitchen Sink</span>
                </a>
                <div class="sidebar-progress-container">
                <div class="bar-container">
                    <div class="progress-bar"></div>
                </div>
                <div class="text-container">0% Fertig</div>
            </div>
            <div class="sidebar-scroll">
                <div class="sidebar-tree">
                    <ul class="current">
                        <li class="toctree-l1 has-children">
                            <a class="reference internal" href="about/index.html">Worum geht es hier?</a>
                            <input class="toctree-checkbox" id="toctree-checkbox-1" name="toctree-checkbox-1" role="switch" type="checkbox"/>
                            <label for="toctree-checkbox-1">
                                <div class="visually-hidden">Toggle navigation of Worum geht es hier?</div>
                                <i class="icon"><svg><use href="#svg-arrow-right"></use></svg></i>
                            </label>
                        </li>
                    </ul>
                    <ul>
                        <li class="toctree-l1">
                            <a class="reference internal" href="case-studies/index.html">Fallbeispiele</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="toctree-l1">
                            <a class="reference internal" href="gitops/index.html">GitOps</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>
