@use 'sass:math' as math;
@use '../abstracts/variables/typography' as typography;
@use '../abstracts/variables/colors' as colors;
@use '../abstracts/variables/spacings' as spacings;
@use 'icon' as icons;

details.global-options {
    > summary {
        line-height: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: colors.$sidebar-search-background;
        color: #30353b;
    }

    > summary::after {
        content: icons.$glyph-cog;
        font-size: typography.$global-settings-size;
        font-family: icons.$font-family;
        color: colors.$sidebar-search-icon;
        transition: 0.2s;
        margin-right: spacings.$sidebar-search-icon-horizontal;
        margin-left: math.div(spacings.$sidebar-search-icon-horizontal, 2);
    }

    > summary::-webkit-details-marker {
        display: none;
    }

    .context-menu {
        background-color: white;
    }
}

details.global-options[open] {
    > summary::after {
        animation-name: animation_blink;
        animation-timing-function: ease-in;
        animation-duration: 0.6s; 
        animation-iteration-count: infinite;
    }
}
