@use '../abstracts/variables' as variables;

.icon {
    font-family: variables.$font-family-glyph;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: variables.$line-height-normal;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* see https://github.com/stylelint-scss/stylelint-config-standard-scss/issues/214 */
/* stylelint-disable selector-class-pattern */
.icon .icon- {
    &cog::before {
        content: variables.$glyph-cog;
    }

    &search::before {
        content: variables.$glyph-search;
    }

    &chevron-left::before {
        content: variables.$glyph-chevron-left;
    }

    &chevron-down::before {
        content: variables.$glyph-chevron-down;
    }

    &menu::before {
        content: variables.$glyph-menu;
    }

    &xs {
        font-size: 1rem!important;
    }

    &sm {
        font-size: 1.55rem!important;
    }

    &md {
        font-size: 2.25rem!important;
    }

    &lg {
        font-size: 3.0rem!important;
    }

    &fw {
        font-size: 1.2857em;
        line-height: .8em;
        width: 1.2857em;
        height: .8em;
        margin-top: -.2em!important;
        vertical-align: middle;
    }

    &pull-left {
        float: left;
        margin-right: .3em!important;
    }

    &pull-right {
        float: right;
        margin-left: .3em!important;
    }

    &rotate-90 {
        transform: rotate(90deg);
    }

    &rotate-180 {
        transform: rotate(180deg);
    }

    &rotate-270 {
        transform: rotate(270deg);
    }

    &flip-horizontal {
        transform: scaleX(-1);
    }

    &flip-vertical {
        transform: scaleY(-1);
    }
}

ul.icon-ul {
    margin-left: 2em;
    padding-left: 0;
    list-style: none;

    > li {
        position: relative;
    }

    .icon {
        font-size: inherit;
        line-height: inherit;
        position: absolute;
        left: -2em;
        width: 2em;
        text-align: center;
    }
}
