@use '../abstracts/variables' as variables;

ul.nav-tree {
    list-style: none;
    margin: 0;

    //TODO
    //&.is-root {
    //}

    //TODO
    //&.is-subtree {
    //}

    a.nav-link {
        color: inherit;
    }

    > li.nav-item {
        &:hover {
            background-color: var(--color-primary);
            color: var(--color-background);
        }

        label.toggle {
            color: var(--color-accent);
            cursor: pointer;
        }

        &.has-children {
            input[type="checkbox"].toggle-button {
                display: none;

                & + label.toggle {
                    font-family: variables.$font-family-glyph;
                    text-align: right;

                    &::before {
                        content: variables.$glyph-chevron-left;
                        font-size: variables.$font-size-large;
                    }
                }

                &:checked {
                    & + label.toggle {
                        &::before {
                            content: variables.$glyph-chevron-down;
                        }

                        & + .nav-tree.is-subtree {
                            background-color: var(--color-background);
                            color: var(--color-text);
                        }
                    }
                }
            }
        }

        > a.nav-link {
            text-decoration: none;
        }
    }
}
