@use '../abstracts/variables' as variables;
@use '../abstracts/mixins' as mixins;

$icon-size: variables.$font-size-large;

header.site-header {
    summary::before {
        color: var(--color-text);
        font-family: variables.$font-family-glyph;
        font-size: $icon-size;
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
        text-transform: none;
    }

    > details.panel,
    > details.panel > summary > details.options {
        &[open] {
            & > summary::before {
                background-color: var(--color-primary);
                color: var(--color-background);
            }
        }
    }

    > details.panel {
        > summary:before {
            content: variables.$glyph-menu;
        }

        > summary {
            background-color: var(--color-secondary);
            color: var(--color-primary);
        }

        > summary > details.options {

            > summary::before {
                content: variables.$glyph-cog;
            }

            > summary {
                > a.heading {
                    cursor: default;
                }

                > form.search {
                    &::before {
                        color: var(--color-text);
                        content: variables.$glyph-search;
                        font-family: variables.$font-family-glyph;
                        font-size: $icon-size;
                        font-weight: 900;
                        pointer-events: none;
                    }

                    &:focus-within {
                        &::before {
                            animation-duration: 0.6s; 
                            animation-iteration-count: infinite;
                            animation-name: animation_blink;
                            animation-timing-function: ease-in;
                            color: var(--color-background);
                            z-index: 2;
                        }
                    }

                    input.search-input {
                        background: transparent;
                        border: none;
                        color: transparent;
                        font-size: inherit;

                        &:focus {
                            background-color: var(--color-accent);
                            color: var(--color-background);
                            outline: none;

                            &::placeholder {
                            }
                        }

                        &::placeholder {
                            color: transparent;
                        }
                    }
                }
            }

            .options-content {
                background: var(--color-background);
                @include mixins.box-shadow(0, 10px, 5px, rgba(0,0,0,0.31));
            }
        }

        > summary > details.options > summary > a.heading,
        a.heading {
            text-decoration: none;

            > .content {
                color: var(--color-text);
                font-size: 1.75rem;
                font-weight: 600;
            }
        }

        summary::-webkit-details-marker {
            display: none;
        }

        summary::marker {
            content: '';
        }
    }
}
