@use '../vendors/Boxicons/variables' as boxicons;
@use '../vendors/MonaSans/variables' as monasans;
@use '../vendors/JetBrainsMono/variables' as jetbrainsmono;
@use '../vendors/Inter/variables' as inter;

$breakpoint-width-max-layout: 100%;
$breakpoint-width-max-article: 800px;
$breakpoint-width-grid-base: 1440px;
$breakpoint-width-max-mobile: 1030px;
$breakpoint-container-ipad: 770px;
$breakpoint-container-ipad-landscape: 1024px;
$breakpoint-container-mobile: 600px;
$breakpoint-container-desktop: 1200px;
$breakpoint-container-small-mobile: 420px;
$breakpoint-container-tiny-mobile: 354px;
$breakpoint-width-wide: 1200px;
$breakpoint-width-full: 100%;
$colors: (
    light: (
        accent: #77db61,
        background: #fcf3f3,
        primary: #d0322f,
        secondary: #c1e382,
        text: #190607,
    ),
    dark: (
        accent: #3a9e24,
        background: #0c0303,
        primary: #d0322f,
        secondary: #5b7d1c,
        text: #f9e6e7,
    )
);
$font-family-primary: monasans.$font-family, sans-serif;
$font-family-secondary: inter.$font-family, sans-serif;
$font-family-glyph: boxicons.$font-family !important;
$font-family-monospace: jetbrainsmono.$font-family, monospace;
$font-size-normal: 1em;
$font-size-large: 2em;
$font-size-small: 0.8rem;
$font-weights: (
    "Thin": 100,
    "ExtraLight": 200,
    "Light": 300,
    "Regular": 400,
    "Medium": 500,
    "SemiBold": 600,
    "Bold": 700,
    "ExtraBold": 800,
    "Black": 900
);
$glyph-search: boxicons.$search-alt-2;
$glyph-menu: boxicons.$menu;
$glyph-cog: boxicons.$cog;
$glyph-chevron-left: boxicons.$chevron-left;
$glyph-chevron-down: boxicons.$chevron-down;
$layout-content-padding: 3em;
$layout-content-padding-small: 1em;
$layout-content-width: 55em;
$layout-sidebar-width: 16em;
$layout-content-padded-width: $layout-content-width;
/* stylelint-disable scss/operator-no-newline-after */
/* stylelint-disable scss/operator-no-unspaced */
$layout-content-padded-width-small: $layout-content-width + 
                                    $layout-content-padding-small * 2;
/* stylelint-enable scss/operator-no-newline-after */
/* stylelint-enable scss/operator-no-unspaced */
$layout-full-width: $layout-content-padded-width;
$layout-sidebar-item-height: 100px;
$layout-sidebar-expander-width: 50px;
$line-height-normal: 1;
$line-height-little-extra: 1.25;
$positions: (
  "top": at top,
  "top-right": at top right,
  "right": at right,
  "bottom-right": at bottom right,
  "bottom": at bottom,
  "bottom-left": at bottom left,
  "left": at left,
  "top-left": at top left,
  "center": at center,
) !default;
$space-none: 0;
$space-half: 0.5rem;
$space-three-quarter: 0.75rem;
$space-default: 1rem;
$space-one-and-three-quarter: 1.75rem;
$space-double: 2rem;
