@use "../abstracts/variables" as variables;

footer.site-footer {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    align-items: center;
    justify-content: space-between;
    padding: 1em variables.$layout-content-padding;
    line-height: 1.5;

    @media (max-width: variables.$layout-content-width) {
        flex-direction: column-reverse;
        gap: 0.25rem;
    }
}
