@use 'sass:math' as math;
@use '../abstracts/variables' as variables;
@use '../components/site-header' as component;

header.site-header {
    // CSS variables for dynamic spacing, since using em unit
    --icon-width: #{component.$icon-size};
    --icon-height: #{component.$icon-size};
    --icon-container-horizontal-spacing: calc(var(--icon-width) / 2);
    --icon-container-vertical-spacing: calc(var(--icon-height) / 2);
    --icon-container-width: calc(
        var(--icon-width) + \
        var(--icon-container-horizontal-spacing) * 2
    );
    --icon-container-height: calc(
        var(--icon-height) + \
        var(--icon-container-vertical-spacing) * 2
    );

    > details.panel,
    > details.panel > summary > details.options {
        position: relative;

        &:not([open]) {
            max-height: 0;
        }

        & > summary::before, form::before {
            line-height: 1;
            padding: calc(var(--icon-container-vertical-spacing) / 2)
                     calc(var(--icon-container-horizontal-spacing) / 2);
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }

        > summary {
            height: var(--icon-container-height);
            position: relative;
        }
    }

    > details.panel {
        > summary {
            align-items: center;
            justify-content: space-between;
            line-height: 1;

            a.heading {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                padding: var(--icon-container-vertical-spacing)
                         variables.$space-three-quarter;
                position: relative;

                > .content {
                    overflow-wrap: break-word;
                }
            }
        }

        > summary > details.options {
            > summary {
                margin-right: var(--icon-container-width);
                padding-right: var(--icon-container-width);

                > form.search {
                    display: block;
                    height: var(--icon-container-height);
                    position: relative;

                    input.search-input {
                        border: none;
                        box-sizing: border-box;
                        float:right;
                        height: var(--icon-container-height);
                        padding: 0;
                        position: relative;
                        vertical-align: top;
                        width: var(--icon-container-width);
                        z-index: 1;

                        &:focus {
                            float: none;
                            width: 100%;
                        }
                    }
                }
            }

            // anchor is required to stop click event propagation to the
            // encapsulating details summary
            > summary > a.heading {
                flex-grow: 1;
                padding: var(--icon-container-vertical-spacing)
                         variables.$space-three-quarter;
                width: 100%;
                z-index: 5;

                > .text {
                    overflow-wrap: break-word;
                }
            }

            &:not([open]) > summary > a.heading {
                display: none;
            }

            &[open] > summary {
                display: flex;

                & > form.search {
                    display: none;
                }
            }

            .options-content {
                z-index: 4;
                position: relative;
            }
        }
    }
}
