// base/_grouping-content.scss
// https://html.spec.whatwg.org/multipage/semantics.html#grouping-content
@use "../abstracts/variables" as variables;

p {
    font-family: variables.$font-family-primary;
    font-size: variables.$font-size-normal;
    line-height: variables.$line-height-normal;
    margin-top: variables.$space-half;
    margin-bottom: variables.$space-three-quarter;
}

pre {
    font-family: variables.$font-family-monospace;
}

