// base/_root.scss
// https://html.spec.whatwg.org/multipage/semantics.html#the-root-element
@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

:root {
    --width-max-mobile: #{variables.$breakpoint-width-max-mobile};
    --spacing-grid-gap: 3rem;
    --spacing-container-padding-inline: 1.25rem;
    --spacing-container-padding-inline-large: 4rem;
    --spacing-text-margin-block: 2.5rem;
    --spacing-wp-block-image-margin-block: 2.5rem;
    --spacing-paragraphs-margin-block: 1.6875rem;

    @media (max-width: variables.$breakpoint-width-grid-base + 150px) {
        --spacing-container-padding-inline: 4rem;
    }

    @media (width <= 700px) {
        --spacing-container-padding-inline: 1.25rem;
    }

    @media (max-width: variables.$breakpoint-width-max-mobile) {
        --spacing-site-header-padding-block: 1.25rem;
    }

    @media (max-width: variables.$breakpoint-container-ipad-landscape) {
        --spacing-grid-gap: 2rem;
    }

    @media (max-width: variables.$breakpoint-container-ipad) {
        --spacing-grid-gap: var(--spacing-container-padding-inline);
        --spacing-container-padding-block: 3.125rem;
    }

    @media (width <= 600px) {
        --spacing-content-padding-block: 3.75rem;
    }

    @media (max-width: variables.$breakpoint-container-mobile) {
        --spacing-container-padding-block: 2.5rem;
    }
}

* {
    font-family: variables.$font-family-primary;
}

.color- {
    &primary {
        &.colored {
            color: variables.$color-primary;
        }

        &.colored-background {
            background-color: variables.$color-primary;
        }

        &-contrast {
            &.colored {
                color: variables.$color-primary-contrast;
            }

            &.colored-background {
                background-color: variables.$color-primary-contrast;
            }
        }
    }

    &secondary {
        &.colored {
            color: variables.$color-secondary;
        }

        &.colored-background {
            background-color: variables.$color-secondary;
        }

        &-contrast {
            &.colored {
                color: variables.$color-secondary-contrast;
            }

            &.colored-background {
                background-color: variables.$color-secondary-contrast;
            }
        }
    }

    &tertiary {
        &.colored {
            color: variables.$color-tertiary;
        }

        &.colored-background {
            background-color: variables.$color-tertiary;
        }

        &-contrast {
            &.colored {
                color: variables.$color-tertiary-contrast;
            }

            &.colored-background {
                background-color: variables.$color-tertiary-contrast;
            }
        }
    }
}

.placeholder {
    &.square {
        display: block;
        height: variables.$font-size-normal;
        width: variables.$font-size-normal;
    }
}

.font-family- {
    &primary * {
        font-family: variables.$font-family-primary;
    }
    &secondary * {
        font-family: variables.$font-family-secondary;
    }
    &monospace * {
        font-family: variables.$font-family-monospace;
    }
}
