// base/_sections.scss
// https://html.spec.whatwg.org/multipage/sections.html#sections
@use "../abstracts/variables" as variables;

article {
    line-height: variables.$line-height-normal;
    font-size: variables.$font-size-normal;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: variables.$font-family-secondary;
    font-weight: bold;
    line-height: variables.$line-height-little-extra;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: variables.$space-default;
    margin-top: variables.$space-one-and-three-quarter;
}

h2 {
    font-size: 2em;
    margin-top: variables.$space-one-and-three-quarter;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.125em;
}

h6 {
    font-size: 1em;
}
