// base/_text-level-semantics.scss
// https://html.spec.whatwg.org/multipage/semantics.html#the-root-element
@use "../abstracts/variables" as variables;

small {
    opacity: 0.75;
    font-size: variables.$font-size-small;
}

a {
    text-decoration: none;
    color: var(--color-primary);

    &:hover {
        color: var(--color-accent);
    }
}

code,
kbd,
samp {
    font-family: variables.$font-family-monospace;
}

em {
    font-style: italic;
    color: var(--color-accent);
}

strong {
    color: var(--color-primary);
}
