// base/_typography.scss
@use "../abstracts/variables/typography" as typography;
@use "../abstracts/variables/spacings" as spacings;
@use "../abstracts/variables/colors" as colors;
@forward '../vendor/monasansvf';

* {
    font-family: typography.$font-primary;
}

pre,
code,
kbd,
samp {
    font-family: typography.$font-monospace;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

article {
    line-height: typography.$line-article;
    font-size: typography.$font-size-article;
}

p {
    margin-top: spacings.$space-half;
    margin-bottom: spacings.$space-three-quarter;
    font-family: typography.$font-paragraph;
    font-size: typography.$font-size-paragraph;
    line-height: typography.$line-paragraph;
}

h1, h2, h3, h4, h5, h6 {
    line-height: typography.$line-heading;
    font-family: typography.$font-heading;
    font-weight: typography.$font-weight-heading;
    border-radius: spacings.$space-half;
    margin: spacings.$space-half spacings.$space-neg-half spacings.$space-half spacings.$space-neg-half;
    padding-left: spacings.$space-half;
    padding-right: spacings.$space-half;

    + p {
        margin-top: spacings.$space-0;
    }
}

h1 {
    font-size: typography.$font-size-h1;
    margin-top: spacings.$space-1-75;
    margin-bottom: spacings.$space-1;
}

h2 {
    font-size: typography.$font-size-h2;
    margin-top: spacings.$space-1-75;
}

h3 {
    font-size: typography.$font-size-h3;
}

h4 {
    font-size: typography.$font-size-h4;
}

h5 {
    font-size: typography.$font-size-h5;
}

h6 {
    font-size: typography.$font-size-h6;
}

small {
    opacity: 0.75;
    font-size: typography.$font-size-small;
}


hr.docutils {
    height: 1px;
    padding: 0;
    margin: spacings.$space-2 0;
    background-color: var(--color-background-border);
    border: 0;
}

.centered {
    text-align: center;
}

a {
    text-decoration: underline;
    color: colors.$link;
    text-decoration-color: colors.$link-underline;

    &:visited {
        color: colors.$link-visited;
        text-decoration-color: colors.$link-underline-visited;

        &:hover {
            color: colors.$link-visited-hover;
            text-decoration-color: colors.$link-underline-visited-hover;
        }
    }

    &.muted-link {
        color: inherit;
    }

}
