// kitchen-sink.scss
// custom definitions for kitchen-sink (demo page), in use by the `doc` build
// target
@use './abstracts/variables' as variables;

@forward './main';

body > div > dl > dt {
    font-family: monospace;

    @media (prefers-color-scheme: light) {
        background-color: #eee;
        color: #333;
    }

    @media (prefers-color-scheme: dark) {
        background-color: #333;
        color: #eee;
    }

    & {
        padding: 5px;
    }
}

.scheme-background-color- {
    &light- {
        &accent {
            background-color: map-get(
                map-get(variables.$colors, light),
                accent
            );
        }

        &background {
            background-color: map-get(
                map-get(variables.$colors, light),
                background
            );
        }

        &primary {
            background-color: map-get(
                map-get(variables.$colors, light),
                primary
            );
        }

        &secondary {
            background-color: map-get(
                map-get(variables.$colors, light),
                secondary
            );
        }

        &text {
            background-color: map-get(
                map-get(variables.$colors, light),
                text
            );
        }
    }

    &dark- {
        &accent {
            background-color: map-get(
                map-get(variables.$colors, dark),
                accent
            );
        }

        &background {
            background-color: map-get(
                map-get(variables.$colors, dark),
                background
            );
        }

        &primary {
            background-color: map-get(
                map-get(variables.$colors, dark),
                primary
            );
        }

        &secondary {
            background-color: map-get(
                map-get(variables.$colors, dark),
                secondary
            );
        }

        &text {
            background-color: map-get(
                map-get(variables.$colors, dark),
                text
            );
        }
    }
}

.placeholder {
    &.square {
        display: block;
        height: variables.$font-size-normal;
        width: variables.$font-size-normal;
    }
}

.font-family- {
    &primary * {
        font-family: variables.$font-family-primary;
    }
    &secondary * {
        font-family: variables.$font-family-secondary;
    }
    &monospace * {
        font-family: variables.$font-family-monospace;
    }
}
