{% extends "_base.njk" %}

{% block title %}Demo 1{% endblock %}

{% block heading %}Welcome to Demo Page{% endblock %}

{% block content %}This is a demo page using Nunjucks and Gulp.{% endblock %}

{% block code %}
{% set html_content %}
    <div>Hello, i'm an object</div>
{% endset %}
{{ html_content | escape }}
{% endblock %}
