{% extends "_base.njk" %}

{% block title %}Demo Page{% endblock %}

{% block heading %}Welcome to Demo Page{% endblock %}

{% block content %}This is a demo page using Nunjucks and Gulp.{% endblock %}


